.venv
.env
cookies.txt
downloads
youtube.com_cookies.txt
filtered_cookies.txt
deployment/*cookies*.txt
deployment/*.txt
test/*.pdf


pyproject.toml
pyrightconfig.json
.python-version

# Data / Databases
data/
vector_db/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / Frontend
node_modules/
frontend/dist/
frontend/node_modules/
.npm/

# IDEs / OS
.DS_Store
.vscode/
.idea/