.venv
.env
cookies.txt
downloads

pyproject.toml
pyrightconfig.json
.python-version

# Data / Databases
data/
vector_db/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / Frontend
node_modules/
frontend/dist/
frontend/node_modules/
.npm/

# IDEs / OS
.DS_Store
.vscode/
.idea/